/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --border-color: rgba(255, 0, 112, 0.4);

  --header-bg-image: url("../images/cover-image-dark.png");
}