/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;

  --header-bg-image: url("../images/cover-image-dark.png");
}